body{
    font-family:arial ;
    display:flex;
    justify-content:center ;
    align-items:center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 145, 145);
    color:white;
    font-size: 25px;

}

.container{
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    padding:2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1{
    margin:0;
    font-size:2rem;
}

@media (max-width : 650px){
    h1{
        font-size:1.5rem;
    }
    .container{
        padding:1.5rem;
    }
}